
/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: 'Chivo', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: white;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  text-align: center;
}
.text{
  text-align: center;
  color: white;
  background-color: black;
  opacity: 0.85;
}
h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  width: 100%;
}

/* nav */

.nav {
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #2C0703;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-left: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: var(--main-blue);
}

/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image:url(img/gifbackground.gif);
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/*about section*/
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100vh;
  margin-bottom: 0;
  background:url(img/welcomebackground.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.selfpic{
  width: auto;
  height: auto;
  border:2px solid #B6465F;
 box-shadow: 0 4px 5px 0 #B6465F, 0 3px 20px 0 #B6465F;
 border-radius: 100%;
}
.aboutself{
   font-size: 20px; 
   text-align: center;
  font-family: 'Chivo', sans-serif;
  font-weight: 400;

}


.welcome-section > p {
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
  color: white;
}

/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background:url(img/welcomebackground.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #e9c46a;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 4rem;
  width: 75%;
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
   border:2px solid #B6465F;
 box-shadow: 0 4px 5px 0 #B6465F, 0 3px 20px 0 #B6465F;
}
.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project:hover .project-image{
  opacity: 0.25;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.project:hover .project-title{
  opacity: 0.25;
}


/* Contact section */

.contact-section {
 
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
   background:url(img/welcomebackground.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.contact-section-header > h2 {
  font-size: 6rem;
  color: #e9c46a;

}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.contact-details {
  font-size: 2.4rem;
}
.box{
         width: 200px;
         height: 50px;
         background-color: #001D4A;
         margin-left: auto;
         margin-right: auto;
       }
.box:hover {
  background-color: #e9c46a;
  color: black;
}
